body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
/*Partie header */
header{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
img{
    padding-left: 40px;
}
nav li{
    margin-right: 100px;
}
nav ul{
    list-style-type: none;
    display: flex;

}

nav a{
    text-decoration: none;
    color: #0065fc;
}
/* Partie section */
section{
    padding-left: 40px;
}

.icon{
    display: inline-flex;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 25% 0% 0% 25%;
    margin-right: 0px;
}
input{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 28px;
    padding: 0px 0px 2px 5px;
    border-radius: 1px;
    border: 1px #F2F2F2 solid;
    margin-bottom: 20px;
}
.rechercher{
    display: inline-flex;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    border-radius: 0% 12% 12% 0%;
    padding: 9px;
    margin-left: 0px;
}
/* Partie footer */
footer {
    display: flex;
    background-color: #F2F2F2;
    align-items: flex-start;
}

 footer a:visited {
    
    color: black;
}

 footer a,li{
    text-decoration: none;
    list-style-type: none;
}
footer ul{
    padding-left: 40px;
    padding-right: 200px;
}
