body {
    font-family: 'Raleway', sans-serif;
}
/*Partie header */
header{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
img{
    padding-left: 40px;
}
nav li{
    margin-right: 100px;
}
nav ul{
    list-style-type: none;
    display: flex;

}

nav a{
    text-decoration: none;
    color: #0065fc;
}



/* Partie footer */
footer {
    display: flex;
    background-color: #F2F2F2;
    align-items: flex-start;
}

 footer a:visited {
    
    color: black;
}

 footer a,li{
    text-decoration: none;
    list-style-type: none;
}
footer ul{
    padding-left: 40px;
    padding-right: 200px;
    font-size: 12px;
}